    .container {
      margin: 20px;
      display: grid;
      /* height: 500px;
  grid-template-columns: 100px auto 100px; */
      height: 800px;
      /* grid-template-columns: 25% 25% 25% 25%; */
      /* grid-template-columns: repeat(2, 1fr 2fr); */
      grid-template-columns: [hd-start] repeat(4, [col-start] 20% [col-end]) [hd-end];
      grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 100px [row-3-end];
      /* grid-row-gap: 10px;
  grid-column-gap: 20px; */
      grid-gap: 10px 20px;
      /* row gap , column gap */
      grid-gap: 15px;
      /* both row and column */
      grid-template-areas: "header header header header" ". side main main" "footer footer footer footer";
      /* grid-template-areas: "header header header header" ". . main main" "footer footer footer footer";  */
      /* if don't want to have side areas labeled, use dots to represent cells. */
      justify-items: stretch;
      align-items: stretch;
      border: 1px solid black;
    }
    
    @media(max-width: 40rem) {
      .container {
        grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 150px [row-3-end row-4-start] 100px [row-4-end];
        grid-template-areas: "header header header header" "main main main main" "side side side side" "footer footer footer footer";
      }
    }
    
    .el1 {
      background: rgba(255, 154, 72, 0.5);
      /* grid-column: col-start 2 / col-end 2; */
      /* display: flex;
      justify-content: center;
      align-items: center; */
      grid-area: side;
    }
    
    .el2 {
      background: rgba(255, 0, 0, 0.5);
      /* grid-column-start: 1;
  grid-column-end: -1; */
      /* grid-column: 1 / -1; */
      /* shorthand for above */
      /* grid-row-start: 2; */
      /* grid-row-start: row-2-start;
  grid-row-end: span 1; */
      /* grid-row: row-2-start / span 1; */
      grid-area: main;
      z-index: 10;
    }
    
    .el3 {
      background: rgba(0, 128, 0, 0.5);
      /* grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: row-1-start;
  grid-row-end: row-2-end; */
      /* grid-area: row-1-start / 2 / row-2-end / span 3; */
      /* grid-area: header; */
      grid-area: hd;
      /* row start / column start / row end / column end */
    }
    
    .el4 {
      background: rgba(0, 4, 255, 0.5);
      grid-area: footer;
    }