body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: purple;
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

.second-li code {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

li+li {
  background-color: rgb(219, 12, 12);
  color: white;
}

ol li {
  background-color: black;
  color: white;
}